<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thaiz Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Thaiz Application", "Search", "Cliente", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Search", "Cliente")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cliente <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cadastrar Cliente", "Create", "Cliente")</li>
                            <li>@Html.ActionLink("Consultar Cliente", "Search", "Cliente")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Exibir mensagens -->
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success alert-dismissible show" role="alert">
            <strong>Parabéns!</strong> @TempData["MensagemSucesso"]
        </div>
    }

    else if (TempData["MensagemAlerta"] != null)
    {
        <div class="alert alert-warning alert-dismissible show" role="alert">
            <strong>Alerta!</strong> @TempData["MensagemAlerta"]
        </div>
    }

    else if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger alert-dismissible show" role="alert">
            <strong>Erro!</strong> @TempData["MensagemErro"]
        </div>
    }


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aplicação Teste</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
